<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Tela principala monitor HTML</h1>
	
	<div id="div"> </div>
	
	
	<script>
		let dados = null;
		function getMonitor(){
			return new Promise(resolve => {
				fetch("http://localhost:8080/backend-api/getMonitor?id=1")
				.then(resp => resp.json())
				.then(data => {
					dados = data;
					resolve();
				})
				
			})
		}
		
		getMonitor().then(data => {
			document.getElementById("div").innerHTML = dados.marca + " " + dados.modelo;
		});
		
		
	</script>
</body>
</html>